USE [Cinema]
GO
/****** Object:  Table [dbo].[booking]    Script Date: 7/10/2023 11:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking](
	[bookingId] [int] IDENTITY(1,1) NOT NULL,
	[showId] [int] NOT NULL,
	[userId] [int] NOT NULL,
 CONSTRAINT [PK_booking] PRIMARY KEY CLUSTERED 
(
	[bookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_detail]    Script Date: 7/10/2023 11:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_detail](
	[bookingId] [int] NOT NULL,
	[seatId] [int] NOT NULL,
 CONSTRAINT [PK_booking_detail] PRIMARY KEY CLUSTERED 
(
	[bookingId] ASC,
	[seatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 7/10/2023 11:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryCode] [nchar](3) NOT NULL,
	[CountryName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Films]    Script Date: 7/10/2023 11:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Films](
	[FilmID] [int] IDENTITY(1,1) NOT NULL,
	[GenreID] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[CountryCode] [nchar](3) NOT NULL,
	[img] [ntext] NULL,
	[premiere] [date] NULL,
	[actor] [nvarchar](300) NULL,
	[author] [nvarchar](100) NULL,
	[time] [int] NULL,
	[images_slide] [ntext] NULL,
	[description] [nvarchar](3000) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Films] PRIMARY KEY CLUSTERED 
(
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 7/10/2023 11:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 7/10/2023 11:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 7/10/2023 11:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[seatId] [int] IDENTITY(1,1) NOT NULL,
	[seatName] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Seat] PRIMARY KEY CLUSTERED 
(
	[seatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Show]    Script Date: 7/10/2023 11:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Show](
	[showId] [int] IDENTITY(1,1) NOT NULL,
	[showDate] [date] NOT NULL,
	[slotId] [int] NOT NULL,
	[filmId] [int] NOT NULL,
	[roomId] [int] NOT NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Show] PRIMARY KEY CLUSTERED 
(
	[showId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slot]    Script Date: 7/10/2023 11:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slot](
	[slotId] [int] NOT NULL,
	[Time] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Slot] PRIMARY KEY CLUSTERED 
(
	[slotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 7/10/2023 11:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[gender] [bit] NULL,
	[phone] [nchar](11) NULL,
	[address] [nvarchar](100) NULL,
	[role] [int] NULL,
	[DOB] [date] NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[booking] ON 

INSERT [dbo].[booking] ([bookingId], [showId], [userId]) VALUES (1, 1, 3)
INSERT [dbo].[booking] ([bookingId], [showId], [userId]) VALUES (2, 1, 1)
INSERT [dbo].[booking] ([bookingId], [showId], [userId]) VALUES (3, 1, 1)
SET IDENTITY_INSERT [dbo].[booking] OFF
GO
INSERT [dbo].[booking_detail] ([bookingId], [seatId]) VALUES (1, 12)
INSERT [dbo].[booking_detail] ([bookingId], [seatId]) VALUES (1, 13)
INSERT [dbo].[booking_detail] ([bookingId], [seatId]) VALUES (2, 15)
GO
INSERT [dbo].[Countries] ([CountryCode], [CountryName]) VALUES (N'ABW', N'Aruba')
INSERT [dbo].[Countries] ([CountryCode], [CountryName]) VALUES (N'AFG', N'Afghanistan')
INSERT [dbo].[Countries] ([CountryCode], [CountryName]) VALUES (N'AGO', N'Angola')
GO
SET IDENTITY_INSERT [dbo].[Films] ON 

SET IDENTITY_INSERT [dbo].[Films] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([GenreID], [Name]) VALUES (1, N'Action')
INSERT [dbo].[Genres] ([GenreID], [Name]) VALUES (2, N'Adventure')
INSERT [dbo].[Genres] ([GenreID], [Name]) VALUES (3, N'Business ')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [Name]) VALUES (1, N'Theatre A                                                                                           ')
INSERT [dbo].[Rooms] ([RoomID], [Name]) VALUES (2, N'Theatre B                                                                                           ')
INSERT [dbo].[Rooms] ([RoomID], [Name]) VALUES (3, N'Theatre C                                                                                           ')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([seatId], [seatName]) VALUES (1, N'A1        ')
INSERT [dbo].[Seat] ([seatId], [seatName]) VALUES (2, N'A2        ')
INSERT [dbo].[Seat] ([seatId], [seatName]) VALUES (3, N'A3        ')
SET IDENTITY_INSERT [dbo].[Seat] OFF
GO
SET IDENTITY_INSERT [dbo].[Show] ON 

INSERT [dbo].[Show] ([showId], [showDate], [slotId], [filmId], [roomId], [status]) VALUES (1, CAST(N'2023-07-09' AS Date), 3, 1, 3, 1)
INSERT [dbo].[Show] ([showId], [showDate], [slotId], [filmId], [roomId], [status]) VALUES (2, CAST(N'2023-07-09' AS Date), 1, 1, 3, 1)
INSERT [dbo].[Show] ([showId], [showDate], [slotId], [filmId], [roomId], [status]) VALUES (3, CAST(N'2023-07-09' AS Date), 2, 10, 3, 1)
SET IDENTITY_INSERT [dbo].[Show] OFF
GO
INSERT [dbo].[Slot] ([slotId], [Time]) VALUES (1, N'7:00 AM')
INSERT [dbo].[Slot] ([slotId], [Time]) VALUES (2, N'9:00 AM')
INSERT [dbo].[Slot] ([slotId], [Time]) VALUES (3, N'11:00 AM')
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([user_id], [fullname], [email], [password], [gender], [phone], [address], [role], [DOB]) VALUES (1, N'dinh quoc tung', N'tungdqhe160456@fpt.edu.vn', N'202cb962ac59075b964b07152d234b70', 0, N'123456009  ', N'....', 1, CAST(N'2002-08-03' AS Date))
INSERT [dbo].[user] ([user_id], [fullname], [email], [password], [gender], [phone], [address], [role], [DOB]) VALUES (2, N'admin', N'admin@gmail.com', N'202cb962ac59075b964b07152d234b70', 1, N'0378387199 ', N'hong cho anh oi', 0, CAST(N'2001-08-08' AS Date))
INSERT [dbo].[user] ([user_id], [fullname], [email], [password], [gender], [phone], [address], [role], [DOB]) VALUES (3, N'Nguyen Kiem Thong', N'test1@gmail.com', N'202cb962ac59075b964b07152d234b70', 0, N'0886969888 ', N'ko cho 123', 1, CAST(N'2001-08-14' AS Date))
SET IDENTITY_INSERT [dbo].[user] OFF
GO
